WEBPACK (import/exports)
    -babel: done
    -scss: done
    -2 Modes:
        -1 Dev mod:
            Dev Server: done
            SourceMaps: done
            ESLint done
            Not Minified Code: done
        -2 Prod:
            Minified Code: done
            

GIT: done